# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# local data & secrets
*.db
*.db-shm
*.db-wal
.env
.env*.local
.env.production

# misc
.DS_Store
*.tsbuildinfo
/coverage
